<!DOCTYPE html>
<html>
    <head>
        <title>Hello world</title>
    </head>
    <body>
            <h1>form submitted successfully. </h1>
            <p><%= data.fname %>...<%= data.lname %></p>
    </body>
</html>